<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar style="padding: 0; margin: 0;"></app-navbar>
    <div class="content">
        <h1>COMIDA GOURMET</h1>
        <h3>LA PARRILLA PARADOR INTERNACIONAL</h3>
        <img src="../../Imagenes/la parrilla ruta/foto1.jpg" alt="" width="100%">
        <p>RN19 158, San Francisco, Córdoba</p>
        <P>Teléfono: 03564 43-6753    </P>
        <P>Parrilla 100% argentina papá</P>
        <p>Gran variedad en el menú</p>
        <p>Horario semanal de 12:00 hs a 16:00 hs</p>
        <p>Fines de semana de 12hs a 16:00 hs y de 21:00 hs a 1:00 hs</p>
        <a href="https://www.instagram.com/laparrilla_sf/">
          <img src="../../Imagenes/Redes sociales/instagram.png" alt="" width="80">
        </a>
        <a href="https://www.facebook.com/laparrilla.paradorinternacional">
          <img src="../../Imagenes/Redes sociales/Facebook.png" alt="" width="70">
        </a>
        <br>
        <br>
        <h3>BODEGÓN DE PRIOTTI</h3>
        <img src="../../Imagenes/priotti/foto1.jpg" alt="" width="100%">
        <p>Alem 405-445, San Francisco, Córdoba</p>
        <p>Teléfono: 03564 33-1535    </p>
        <p>Horarios de martes a domingo de 9:00 hs a 1 hs del día siguiente.</p>
        <a href="https://www.facebook.com/profile.php?id=100069029777678">
          <img src="../../Imagenes/Redes sociales/Facebook.png" alt="" width="70">
        </a>
      </div>
    
</body>
</html>

<app-footer></app-footer>