<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
        <li><a href="#">Inicio</a></li>
        <li>
            <a style="color: white;">Comida</a>
            <ul class="submenu">
            <li><a routerLink="/comidarapida">Comida rápida</a></li>
            <li><a routerLink="/comidagourmet">Comida gourmet</a></li>
            </ul>
        </li>
        <li>
            <a style="color: white;">Hospedaje</a>
            <ul class="submenu">
            <li><a routerLink="/hoteles">Hoteles</a></li>
            <li><a routerLink="/departamentos">Departamentos</a></li>
            </ul>
        </li>
        <li><a routerLink="/LugaresHistoricos">Lugares históricos</a></li>
        <li><a routerLink="/Deportes">Deportes</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
        </ul>
    </nav>
</body>
</html>
