<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar style="padding: 0; margin: 0;"></app-navbar>
    <div class="content">
        <div class="content">
            <h1>COMIDA RÁPIDA
            </h1>
            <h3>BURGERSMACH</h3>
            <img src="../../Imagenes/Burguers Mach/foto1.jpg" alt="" width="100%" >
            <br>
            <br>
            <p>Local exclusivo de HAMBURGUESAS</p>
              <p>San Francisco, Córdoba</p>
              <p> Calle: Av.chile 397 (entre Av.Chile y calle salta )</p>
              <p>Horario nocturno: 20:30 a 23:30</p>
              <p>Número del local: 3564350275</p>
              <a href="https://www.instagram.com/burgersmach/">
                <img src="../../Imagenes/Redes sociales/instagram.png" alt="" width="80">
              </a>
              <a href="https://www.facebook.com/search/top?q=burgers%20mach">
                <img src="../../Imagenes/Redes sociales/Facebook.png" alt="" width="70">
              </a>
              <br>
              <br>
              <H3>JACKSONBURG'S 🍔</H3>
              <img src="../../Imagenes/jackson burgs/foto1.jpg" alt="">
              <p>Dirección: Bv General J, Blvd. Roca 3205, San Francisco, Córdoba</p>
              <P> Horarios: De lunes a domingo 12.30 y 19.30 hs.</P>
              <p>Cuenta con carta gourmet autojks y también podes hacer reservas para la planta alta.</p>
              <p>Cuentan con una carta virtual y donde podes ordenar:  </p>
              <a href="linktr.ee/jacksonburgs">
                <img src="../../Imagenes/Redes sociales/Carta.png" alt="" width="80">
              </a>
              <br>
              <br>
              <p>Contacto: </p>
              <a href="https://www.instagram.com/jacksonburgs/">
                <img src="../../Imagenes/Redes sociales/instagram.png" alt="" width="80">
              </a>
              
          </div>
    </div>
    
</body>
</html>

<app-footer></app-footer>